@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

@font-face {
    font-family: "roboto-flex";
    src: url("../assets/fonts/roboto-flex.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "roboto-flex-medium";
    src: url("../assets/fonts/roboto-flex.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "roboto-flex-book";
    src: url("../assets/fonts/roboto-flex.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* * {
    margin: 0;
    padding: 0;

} */

hr {
    border: 0;
}
.bold-font {
    font-family: "roboto-flex";
}
.medium-font {
    font-family: "roboto-flex-medium";
}
.book-font {
    font-family: "roboto-flex-book";
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "roboto-flex";
}

.nav-link-heading {
    font-size: calc(36px + 44 * ((100vw - 768px) / 1152));
    font-stretch: 60%;
    line-height: 110%;
    margin: 0;
    text-decoration: none;
    transform: translateZ(0);
    will-change: font-stretch, font-weight, color;
}

.height-screen {
    height: calc(100vh - 64px);
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}
.whats-app {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 15px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}
